/*헤더*/
#h_wrap {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  padding: 0 45px;
  box-sizing: border-box;
  transition: 0.5s;
}
#mySidenav > ul > li > a {
  color: #333;
}
#h_wrap > a {
  display: block;
  padding: 15px 0;
  box-sizing: border-box;
}
.hamberger {
  background-color: #fff;
}
.hamberger > a > .LOGO {
  width: 312px;
  height: 30px;
  padding: 35px 0;
  background-image: url(../../img/LOGO_viewing13.png);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}
.hamberger > #gnb {
  display: none;
}

.hamberger > .h_right > ul > li {
  border-bottom: 2px solid #333;
}
.hamberger > .h_right > ul > li > a {
  color: #333;
}
.hamberger > .h_right > .h_right_menu > .nav-icon-5 span {
  background-color: #333;
}

/*로고*/
.LOGO {
  width: 312px;
  height: 30px;
  padding: 35px 0;
  background-image: url(../../img/LOGO.png);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}
/* 호버했을 때 로고 색 */
.active1 > a > .LOGO {
  z-index: 9000;
  width: 312px;
  height: 30px;
  padding: 35px 0;
  background-image: url(../img/overLOGO.png);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}
/* 호버했을 때 로고 색 */
/* 로고 */

/*네비게이션 바*/
#gnb {
  z-index: 9999;
  box-sizing: border-box;
}
#gnb > ul {
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  width: 800px;
  text-align: center;
  box-sizing: border-box;
}

#gnb > ul > li > a {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #d9d9d9;
}

#drop > li {
  width: 100%;
  height: 100%;
  padding: 35px 0;
  box-sizing: border-box;
}

/* 드롭다운 */
.cont {
  position: absolute;
  top: 80px;
  left: 50%;
  visibility: hidden;
  overflow: hidden;
  width: 900px;
  opacity: 0;
  transform: translateX(-50%);
}
.cont > li {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.cont > li > a {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  font-weight: 700;
  color: #d9d9d9;
  box-sizing: border-box;
  transition: all 0.3s;
}

.cont.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: visible;
  overflow: hidden;
  width: 1100px;
  opacity: 1;
  transition: all 0.3s;
}
/* 드롭다운 */
/* 네비게이션 바 */

#employment {
  width: 400px;
}

/* focus */
.focus {
  background-color: #fff;
}
.focus > a > .LOGO {
  background-image: url(../../img/LOGO_viewing13.png);
}
.focus #drop > li > a {
  color: #333;
  transition: 0.5s;
}
.focus #drop > li > ul > li > a {
  color: #333;
  transition: 0.5s;
}

.focus > .h_right > ul > li {
  border-bottom: 2px solid #333;
  transition: 0.5s;
}
.focus > .h_right > ul > li > a {
  color: #333;
  transition: 0.5s;
}
.focus > .h_right > .h_right_menu > .nav-icon-5 > span {
  background-color: #333;
}

/*오른쪽 메뉴*/
.h_right {
  display: flex;
  justify-content: flex-end;
  width: 312px;
  height: 100px;
  padding: 35px 0;
  box-sizing: border-box;
}

.h_right > ul {
  display: flex;
}
.h_right > ul > li {
  margin-left: 22px;
  border-bottom: 2px solid #d9d9d9;
}
.h_right > ul > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #d9d9d9;
}

/* hambuger */
.nav-icon-5 {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.nav-icon-5 span {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #d9d9d9;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.nav-icon-5 span:nth-child(1) {
  top: 5px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2) {
  top: 16px;
  left: 0px;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-5.open span:nth-child(1) {
  top: 13px;
  transform: rotate(45deg);
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
}
/* hambuger */
#mySidenav.SlideNav {
  width: 100%;
}
.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  width: 0;
  height: 100%;
  margin-top: 100px;
  padding-top: 60px;
  background-color: #fff;
  text-align: center;
  transition: 0.5s;
}

#mySidenav > ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
#mySidenav > ul > li {
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
#mySidenav > ul > li > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
#mySidenav > ul > li > ul > li {
  margin: 7px auto;
}

#mySidenav > ul > li > ul > li > a {
  font-size: 18px;
}

ul {
  padding-left: 0;
}

.underMenu > li > a {
  display: block;
  font-size: 16px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
}

.underMenu > li > a:hover {
  color: #333;
}

.sidenav a:hover {
  color: #333;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  #gnb {
    display: none;
  }
}

@media (max-width: 1280px) {
  .LOGO {
    width: 250px;
    padding: 15px 0;
    background-image: url(../../img/LOGO_m.png);
  }
  .focus a .LOGO {
    background-image: url(../../img/LOGO_m_viewing13.png);
  }
  .hamberger > a > .LOGO {
    width: 250px;
    height: 30px;
    padding: 15px 0;
    background-image: url(../../img/LOGO_m_viewing13.png);
  }
  #h_wrap {
    height: 60px;
    padding: 0 20px;
  }
  .h_right {
    height: 60px;
    padding: 15px 0;
  }
  .sidenav {
    margin-top: 60px;
  }
}
.accordion {
  display: none;
}
@media (max-width: 1000px) {
  .h_right > ul > li > a {
    font-size: 14px;
  }
  #mySidenav > ul {
    display: none;
  }
  .accordion {
    display: block;
  }
  .underMenu > li > a {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
  }
  .accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: none;
    color: #818181;
  }
  .accordion-button > p {
    width: 100%;
    text-align: center;
  }

  .accordion-button:focus {
    border-color: #333;
    box-shadow: none;
  }
  accordion-button.collapsed#text {
    font-size: 50px;
  }
  .accordion-flush .accordion-item .accordion-button,
  .accordion-flush .accordion-item .accordion-button.collapsed {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
  }
  .accordion-button {
    box-sizing: border-box;
  }
  .accordion-body {
    padding: 16px 45px 16px 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 414px) {
  .LOGO {
    width: 180px;
    height: 17px;
    background-image: url(../../img/180sub.png);
  }

  .hamberger > a > .LOGO {
    width: 180px;
    height: 17px;
    background-image: url(../../img/180black.png);
  }
  #h_wrap.focus > a > .LOGO {
    width: 180px;
    height: 17px;
    background-image: url(../../img/180black.png);
  }
}
