.section2__wrap {
  padding: 150px 20px 50px 20px;
  box-sizing: border-box;
}

.section2__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.detail__title {
  margin-top: 30px;
  padding: 36px 0 36px 10px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #eeeeee;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
}
.detail__title h3 {
  font-size: 18px;
}

.detail__date {
  margin: 20px 0;
  font-size: 13px;
  text-align: right;
}

.detail__content {
  position: relative;
  height: 400px;
  padding-left: 10px;
}

.file {
  position: absolute;
  bottom: 10px;
}

.reWrite {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.reWrite > a {
  display: block;
  width: 120px;
  height: 50px;
  margin-left: 20px;
  border: 1px solid #000;
  line-height: 50px;
  text-align: center;
}

.goList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.goList > a {
  display: block;
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  pre {
    font-size: 14px;
  }
  .reWrite > a {
    width: 80px;
    height: 40px;
    line-height: 40px;
  }
  .reWrite {
    margin-bottom: 50px;
  }
}
