* {
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
.section2__wrap {
  position: relative;
  padding: 80px 20px;
  box-sizing: border-box;
}

.section2__title {
  text-align: center;
}

.section2__title h1 {
  font-size: 40px;
  font-weight: bold;
}

.convenience {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.notice__number {
  display: flex;
  align-items: center;
}
.notice__number p {
  font-size: 15px;
}
.notice__number p span {
  font-weight: bold;
}

.notice__search {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.notice__search a img {
  display: block;
}
.notice__search > input {
  border: none;
}

/* input {
  border: none;
} */
input::placeholder {
  font-size: 14px;
}

.notice__list .banner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 3px solid #333;
  border-bottom: 1px solid #cfcfcf;
  background-color: rgb(244, 244, 244);
  text-align: center;
}
.notice__list ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.notice__list .banner li {
  padding: 11px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.notice__list .list li {
  padding: 11px 10px 10px;
  border-bottom: 1px solid #cfcfcf;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.notice__list .list:hover {
  background-color: rgb(219, 219, 219);
}

.NO {
  width: 80px;
}
.title {
  width: 500px;
}

.date {
  width: 200px;
}
.N_file {
  display: flex;
  width: 200px;
}
.N_file > a > img {
  display: block;
  margin-left: 10px;
}

.root--write {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0;
  text-align: right;
}
.root--write > a {
  display: block;
  width: 100px;
  height: 37px;
  border: 1px solid #cfcfcf;
  line-height: 37px;
  text-align: center;
}
a {
  color: #333;
}
a:hover {
  color: #333;
}

@media (max-width: 1080px) {
  .notice__number {
    margin-bottom: 20px;
  }
  .notice__number p {
    font-size: 13px;
  }
  input::placeholder {
    font-size: 13px;
  }
  .notice__list .list li {
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .convenience {
    flex-direction: column;
  }
  .notice__search {
    border: none;
  }
  .notice__list .banner li {
    font-size: 15px;
  }
  .section2__title h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .detail__content > p {
    font-size: 14px;
  }
}
