.section1__bg-wrap {
  position: relative;
}
.section1__bg-img {
  width: 100%;
  height: 400px;
  background-image: url(../../img/typea_con1_a1_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section1__text {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  color: #d9d9d9;
  text-align: center;
  transform: translate(-50%);
}

.section1__text h4 {
  margin-top: 30px;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .section1__text {
    font-size: 40px;
    transition: 0.5s;
  }
  .section1__text h1 {
    font-weight: bold;
  }
  .section1__text h4 {
    font-size: 25px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  .section1__text {
    font-size: 30px;
  }
  .section1__text h4 {
    font-size: 20px;
  }
}
@media (max-width: 485px) {
  .section1__text h4 {
    font-size: 16px;
  }
}
