#table {
  height: 100%;
  margin: 150px auto;
  border-top: 3px solid #000;
  border-bottom: 1px solid #d9d9d9;
}

#table tr {
  display: block;
  margin: 50px 0;
}
#table > tbody {
  padding: 0 20px;
  box-sizing: border-box;
}

#table > tr > td:nth-child(2) {
  display: block;
  margin-left: 20px;
}

@media (max-width: 1280px) {
  #table {
    display: block;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  #table > tbody {
    width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
  }
}
