#sign-up-next > section {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.sign-up-next--content {
  display: flex;
  background: #f7f8f9;
  border-radius: 50px 0;
  padding: 125px 150px;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
}

.sign-up-next--content > .logo {
  width: 250px;
  height: 24px;
  margin: 0 auto;
  background-image: url(../../img/headerLOGO.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sign-up-next--content > h1 {
  margin: 40px 0;
  font-size: 30px;
  color: #4db6ac;
  font-weight: 600;
}
.sign-up-next--content > p {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}
.sign-up-next--content > h6 {
  font-size: 16px;
  color: #4db6ac;
  font-weight: 600;
  margin-bottom: 15px;
}
.sign-up-next--content > .id {
  margin: 20px 0;
}

.controlBtn {
  display: flex;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.controlBtn > article > p > a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid rgb(180, 180, 180);
  color: #333;
  transition: all 0.5s;
}
.controlBtn > article > p > a:hover {
  background-color: #4db6ac;
  color: #fff;
}

@media (max-width: 1200px) {
  #sign-up-next > section {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .controlBtn {
    width: 100%;
    justify-content: center;
  }
  .controlBtn > article:nth-child(2) {
    margin-left: 40px;
  }

  .sign-up-next--content {
    padding: 125px 20px;
  }
}
