<main id="about_us">
  <section class="section1">
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>개요</h1>
        <h4>저탄소 그린 라이프 시대를 선도하는 기업</h4>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="section2__wrap">
      <div class="about_us__compony-intro--title w1200">
        <p class="ko">삶을 대하는 효성중공업의 새로운 태도</p>
        <h1>
          NEW<br />
          PERSPECTIVE
        </h1>
        <h2 class="ko">
          효성중공업은 새로운 도전과 혁신을 바탕으로<br />
          고객에게 최고의 가치를 제공합니다
        </h2>
      </div>
      <div class="about_us__compony-intro--video w1200">
        <video autoplay muted width="1200" height="600">
          <source src="/img/HYOSUNG PR FILM.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </section>
</main>
