<!--헤더-->
<header>
  <div id="h_wrap">
    <a href="">
      <div class="LOGO"></div>
    </a>
    <!--네비게이션-->
    <div id="gnb">
      <ul id="drop">
        <li class="over" data-id="prod">
          <a href="#">효성중공업 소개</a>
          <!--드롭다운 컨텐츠-->
          <ul class="cont" id="prod">
            <li><a href="#">개요</a></li>
            <li><a href="#">연혁</a></li>
            <li><a href="#">인사말</a></li>
            <li><a href="#">Hyosung Way</a></li>
            <li><a href="#">글로벌 네트워크</a></li>
            <li><a href="#">R&D</a></li>
            <li><a href="employment.html">인재채용</a></li>
          </ul>
        </li>
        <li class="over" data-id="range">
          <a href="#">사업 분야</a>
          <ul class="cont" id="range">
            <li><a href="#">송배전설비</a></li>
            <li><a href="#">시스템&엔지니어</a></li>
            <li><a href="#">신재생에너지</a></li>
            <li><a href="#">전동기&발전기</a></li>
            <li><a href="#">산업기계</a></li>
            <li><a href="#">기어솔루션</a></li>
            <li><a href="#">용접솔루션</a></li>
          </ul>
        </li>
        <li class="over" data-id="continuous">
          <a href="#">지속가능경영</a>
          <ul class="cont" id="continuous">
            <li><a href="#">지속가능경영 개요</a></li>
            <li><a href="#">그린경영</a></li>
            <li><a href="#">나눔경영</a></li>
            <li><a href="#">윤리경영</a></li>
            <li><a href="#">상생경영</a></li>
            <li><a href="#">지속가능경영보고서</a></li>
          </ul>
        </li>
        <li class="over" data-id="employment">
          <a href="#">홍보센터</a>
          <ul class="cont" id="employment">
            <li><a href="#">뉴스 센터</a></li>
            <li><a href="#">홍보자료</a></li>
          </ul>
        </li>
        <li class="over" data-id="inverstment">
          <a href="#">투자정보</a>
          <ul class="cont" id="inverstment">
            <li><a href="#">기업지배구조</a></li>
            <li><a href="#">재무정보</a></li>
            <li><a href="#">IR정보</a></li>
            <li><a href="#">공시자료</a></li>
            <li><a href="#">연차보고서</a></li>
            <li><a href="#">공고/실적발표자료</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--헤더 오른쪽 네비게이션-->
    <div class="h_right">
      <ul>
        <li><a href="#">KO</a></li>
        <li><a href="#">EN</a></li>
      </ul>
      <div class="h_right_menu">
        <div class="icon nav-icon-5">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
