<main id="histroy">
  <!-- 섹션1 -->
  <div class="section fp-auto-height-responsive fp-auto-height" data-percentage="80" data-centered="true">
    <section>
      <div class="section1__bg-wrap">
        <div class="section1__bg-img"></div>
        <div class="section1__text ko">
          <h1>연혁</h1>
          <h4>혁신의 역사를 만들어낸 지속적인 성장과 도전</h4>
        </div>
      </div>
    </section>
  </div>
  <div class="compony__history">
    <div class="history__wrap">
      <div class="history__nav en" id="fixedNav">
        <p>2021</p>
        <p>2020</p>
        <p>2019</p>
        <p>2018</p>
        <p>2017</p>
        <p>2016</p>
        <p>2015</p>
        <p>2014</p>
        <p>2013</p>
        <p>2012</p>
        <p>2011</p>
        <p>2010</p>
        <p>2009</p>
        <p>2008</p>
        <p>2007</p>
        <p>2006</p>
        <p>2005</p>
        <p>2004</p>
        <p>2003</p>
        <p>2002</p>
        <p>2001</p>
        <p>2000</p>
        <p>1999</p>
        <p>1998</p>
        <p>1997</p>
        <p>1996</p>
        <p>1995</p>
        <p>1994</p>
        <p>1993</p>
        <p>1992</p>
        <p>1990</p>
        <p>1989</p>
        <p>1988</p>
        <p>1987</p>
        <p>1986</p>
        <p>1985</p>
        <p>1984</p>
        <p>1983</p>
        <p>1982</p>
        <p>1981</p>
        <p>1980</p>
        <p>1978</p>
        <p>1977</p>
        <p>1976</p>
        <p>1975</p>
        <p>1972</p>
        <p>1970</p>
        <p>1969</p>
        <p>1966</p>
        <p>1962</p>
      </div>
      <div class="history__event ko">
        <P>HISTORY</P>
        <ul class="history__list">
          <li data-img="img0">
            <p class="year">2021</p>
            <div class="event">
              <p>부산시, 한국자산관리공사와 부산광역시 액화수소산업 생태계 조성을 위한 업무협약(MOU) 체결</p>
              <p>인천 산곡 도시환경정비사업 수주(계약금액 3666억원 규모) 두산중공업, SK E&S, 포스코에너지, 한화에너지, 현대자동차 등 9개 기업과 '에너지 얼라이언스' 출범</p>
              <p>린데그룹과 액화수소 사업 추진 합작법인(JV) 투자 계약 체결</p>
            </div>
          </li>
          <li data-img="img1">
            <p class="year">2020</p>
            <div class="event">
              <p>강원도 삼척에 국내 첫 액화수소 충전소 설립</p>
              <p>린데그룹과 액화수소 사업 추진 MOU 체결</p>
            </div>
          </li>
          <li data-img="img2">
            <p class="year">2019</p>
            <div class="event">
              <p>미국 테네시주 초고압변압기(MEPPI) 공장 인수 관련 MOU 체결</p>
              <p>여의도 국회 수소충전소 준공</p>
              <p>인도 뉴델리 ‘Grid Tech 2019’ 참가</p>
              <p>청량리역 해링턴 플레이스 분양</p>
              <p>수소충전소 연합군 ‘하이넷’ 합류</p>
              <p>창원공장, 2018 창원시 사회공헌 유공자 감사패 전달식</p>
              <p>대한민국 그린카 어워드 그린에너지상 수상</p>
            </div>
          </li>
          <li data-img="img3">
            <p class="year">2018</p>
            <div class="event">
              <p>창원공장 전시실 "효성스퀘어" 개관</p>
              <p>효성중공업㈜ 분사</p>
              <p>조선비즈 ‘2018 한국의 가장 사랑받는 브랜드 대상’</p>
              <p>건설PG, 건설신기술 제833호 취득</p>
            </div>
          </li>
          <li data-img="img4">
            <p class="year">2017</p>
            <div class="event">
              <p>전력PU, 핵융합 연구 공헌 장관표창 수상</p>
              <p>창원공장, 1사 1촌 농촌사회공헌인증 재인증 기업 선정</p>
              <p>건설부문2017 친환경 건설사업대상 주상복합부문 대상 수상</p>
              <p>중공업부문2017 동반성장 주간 '중기부 장관 표창' 수상</p>
              <p>중공업부문변전소 자산관리 솔루션(AHMS) '철도 10대 기술상' 수상</p>
              <p>건설부문중앙일보 ‘친환경건설산업대상’</p>
              <p>중공업부문창원공장, STATCOM 생산공장 신축</p>
              <p>건설부문조선비즈 ‘2017 한국의 가장 사랑받는 브랜드대상(아파트부문)’</p>
            </div>
          </li>
          <li data-img="img5">
            <p class="year">2016</p>
            <div class="event">
              <p>인도 푸네 차단기 생산 공장 가동</p>
              <p>중앙일보 ‘친환경건설산업대상’ 평택 효성해링턴 플레이스</p>
            </div>
          </li>
          <li data-img="img6">
            <p class="year">2015</p>
            <div class="event">
              <p>국내 최초 해외 스태콤 시장 진출</p>
              <P>창원공장, PSM공정안전관리 S등급 취득</P>
              <P>중공업부문중공업PG, 몽골 전력망 시장 진출</P>
              <P> 건설부문2015 하반기 한경 주거문화대상 고객만족부문</P>
              <P>중공업부문풍력사업단, 5MW 해상풍력발전시스템 국제인증 취득</P>
              <P>중공업부문창원공장, 경상남도와 ‘미세먼지 저감을 위한 자발적 환경협약’ 체결</P>
              <P>건설부문조선비즈 ‘2015 한국의 가장 사랑받는 브랜드 대상(아파트부문)’</P>
              <P>건설부문중앙포브스 ‘2015 소비자선정 최고의 브랜드(아파트부문)’</P>
              <P>건설부문건설PU, 2014년 수주액 1조 5,000억 원 성과</P>
            </div>
          </li>
          <li data-img="img7">
            <p class="year">2014</p>
            <div class="event">
              <p>건설부문2014 하반기 한경 주거문화대상</p>
              <p>아파트부문 대상(용인 구성역 효성해링턴 플레이스)</p>
              <p>중공업부문중공업PG, 인도 국가전력청 주최 제3회 Annual Contractor</p>
              <p>Interactive Session에서 2013 BEST GIS CONTRACT 수상</p>
              <p>중공업부문창원공장, 차단기 개발시험동 신축</p>
              <p>중공업부문기전PU, 국내 첫 택시용 CNG 충전소 공급</p>
            </div>
          </li>
          <li data-img="img8">
            <p class="year">2013</p>
            <div class="event">
              <p>초고압차단시스템인 ‘245㎸와 420㎸급 GIS’ ‘2013 세계일류상품’ 선정</p>
              <p>건설부문‘2013년 건설PG 동반성장 협의체 발대식’ 개최</p>
              <p>중공업부문중공업PG 조치원공장, ‘세종공장’으로 명칭 변경</p>
              <p>중공업부문중공업PG, ‘2013 프로스트 앤드 설리번 대한민국 어워드’</p>
              <p>제품 전략상 수상</p>
              <p>건설부문2013 상반기 한경 주거문화대상 브랜드 대상</p>
              <p>건설부문건자재사업부 외단열사업부문(자재분야) 포괄적양수도로 ㈜벽산으로 이전</p>
              <p>중공업부문전력PU, 모잠비크 태양광 발전소 턴키 수주</p>
              <p>건설부문건설PG, 진흥기업과의 통합 신규 브랜드 ‘해링턴 플레이스’ 론칭</p>
            </div>
          </li>
          <li data-img="img9">
            <p class="year">2012</p>
            <div class="event">
              <p>전력PU, ‘2012 대한민국 기술대상’ 우수상 수상</p>
              <p>건설부문2012 아주경제 건설대상(평택 비전동 백년가약(단지조경))</p>
              <p>중공업부문‘1kW급 듀얼 셀(Dual Cell) 스택(Stack)’ 개발</p>
              <p>중공업부문효성 태양광 인버터 CE 인증</p>
            </div>
          </li>
          <li data-img="img10">
            <p class="year">2011</p>
            <div class="event">
              <p>창원공장, ‘2011년 환경경영 우수기업상’ 수상</p>
              <p>중공업부문전력PU, 정지형 순동(瞬動) 무효전력 보상장치(STATCOM)로 IR52 장영실상 수상</p>
              <p>건설부문평택 소사벌 백년가약 아파트 한경주거문화대상 녹색 에너지 부문 대상</p>
              <p>중공업부문풍력사업단, 750 kW 및 2MW 육상풍력발전시스템 국제인증 취득</p>
            </div>
          </li>
          <li data-img="img11">
            <p class="year">2010</p>
            <div class="event">
              <p>지식경제부 주관 ‘2010년 대한민국 기술대상’ 우수상 수상</p>
              <p>중공업부문전력PU, 한국 기업 최초로 알제리 송변전 시장 진출(1,000억 원 규모 초고압 변전소 일괄입찰방식 수주)</p>
              <p>중공업부문창원공장, 3공장 초고압변압기공장, 고압전동기 신공장 신축</p>
            </div>
          </li>
          <li data-img="img12">
            <p class="year">2009</p>
            <div class="event">
              <p>진흥기업, 헤럴드경제 주최 제9회 헤·경그린주거문화대상 ‘최우수 입주단지 대상’ 수상</p>
            </div>
          </li>
          <li data-img="img13">
            <p class="year">2008</p>
            <div class="event">
              <p>진흥기업, 헤럴드경제 주최 제9회 헤·경그린주거문화대상 ‘최우수 입주단지 대상’ 수상</p>
              <p>진흥기업㈜ 인수계약 체결</p>
            </div>
          </li>
          <li data-img="img14">
            <p class="year">2007</p>
            <div class="event">
              <p>실증시험용 154kV 인텔리전트 변전소 준공</p>
              <p>중공업부문창원공장, 1,100kV 극초고압 GIS 국내 최초, 세계 두 번째 개발</p>
              <p>중공업부문중공업PG, 차단기 누적 생산 1만대 돌파</p>
              <p>건설부문㈜효성이노테크(건설,건축자재업) 흡수 합병</p>
              <p>중공업부문삼랑진 태양광발전설비 공급계약 체결 – 태양광에너지사업 진출</p>
              <p>중공업부문중공업PG, 10MVA STATCOM 국산화 설비 준공식</p>
            </div>
          </li>
          <li data-img="img15">
            <p class="year">2006</p>
            <div class="event">
              <p>남통효성변압기유한공사 설립</p>
              <p>중공업PG, 강화도 선진CNC충전소 준공식</p>
              <p>전력PU, 중국 강소성 남통의 남통우방변압기유한공사 인수계약</p>
            </div>
          </li>
          <li data-img="img16">
            <p class="year">2005</p>
            <div class="event">
              <p>중공업연구소, 한국전력공사 전력연구원과 공동으로 제주-해남 HVDC 시스템시뮬레이터 준공식</p>
              <p>건설부문효성이노테크PU, APT 특화사업 일환으로 스톤 마감재 개발, 보급</p>
              <p>건설부문대한주택공사 우수시공업체 선정</p>
              <p>중공업부문전력PU, 중국에 750kV급 GIS 2기 첫 수출</p>
              <p>건설부문효성이노테크PU, 온돌마루와 경량 콘크리트 패널(DRYTEC) 보급 시작(사업 개시)</p>
            </div>
          </li>
          <li data-img="img17">
            <p class="year">2004</p>
            <div class="event">
              <p>주거문화대상 수상(한국경제신문사주관 오피스텔부문)</p>
              <p>중공업부문보정효성천위변압기유한공사, 변압기공장 준공</p>
              <p>건설부문건설PU, 고양시 백석동 효성 레제스 오피스텔, ‘주거문화대상’ 수상</p>
              <p>중공업부문국내 최초로 축소형 245kV 50kA 가스절연 개폐장치(GIS) 개발</p>
              <p>건설부문효성이노테크PU, 친환경 내장마감재인 ‘에스그린(S-GREEN)’ 개발</p>
              <p>중공업부문전력PU, 중국 서북전망유한공사와 750kV급 초고압 차단기 공급계약</p>
              <p>건설부문효성드라이비트㈜, ㈜효성이노테크로 상호 변경</p>
              <p>중공업부문중공업PG, 362kV 50kA 가스절연 개폐장치(GIS) 국내 최초 개발</p>
            </div>
          </li>
          <li data-img="img18">
            <p class="year">2003</p>
            <div class="event">
              <p>전력PU 조치원공장, 용접기 생산품목 전반에 대한</p>
              <p>‘중국강제 인증(CCC)’ 취득</p>
              <p>건설부문건설PU, 주상복합건물 효성 주얼리시티 모델하우스 개막</p>
              <p>중공업부문중공업PG, 중국 바오딩티안웨이 사와 배전변압기공장 건립 투자계약</p>
              <p>건설부문대한주택공사 ‘우수시공업체’ 지정</p>
            </div>
          </li>
          <li data-img="img19">
            <p class="year">2002</p>
            <div class="event">
              <p>효성트라이비트PU, 업계 최초 평양체육관 외단열공법 적용</p>
              <p>건설부문건설PU, 아파트 부문 ‘백년家약’, 주상복합·호피스텔 부문 ‘인텔리안(Intellian)’ 브랜드 선정</p>
            </div>
          </li>
          <li data-img="img20">
            <p class="year">2001</p>
            <div class="event">
              <p>기전PU, ‘기업부문 에너지기술개발분야’ 대상 수상</p>
              <p>중공업부문전력PU 창원공장, KEPIC 인증 획득</p>
              <p>중공업부문조치원공장, Double Iron-man 부착 Seam 용접기 국내 최초 개발</p>
              <p>건설부문효성드라이비트㈜, Neovit(내오염성 실리콘 마감재) 특허 취득</p>
              <p>건설부문HEEC, 인천국제공항 소각시설 준공</p>
            </div>
          </li>
          <li data-img="img21">
            <p class="year">2000</p>
            <div class="event">
              <p>효성이노테크, 대한민국에너지대상 수상</p>
              <p>중공업부문중공업PG, 변전소 감시 제어 시스템 개발</p>
              <p>중공업부문중공업PG, 전철용 55kV GAS VT 국내 최초 국산화 성공</p>
              <p>중공업부문중공업PG, BVQ1 국제인증으로부터 ISO 14001 인증 획득</p>
              <p>건설부문ISO/KS A 14001 인증 취득</p>
              <p>중공업부문전력PU, 세계 세번째로 800kV 50kA 8000A GIS상용화 성공</p>
              <p>건설부문건설PU 공릉2지구 효성APT 현장, 안전보건관리 초일류기업 인증 획득</p>
              <p>중공업부문중앙연구소, 배전용 STACOM 개발</p>
              <p>건설부문건설PU, 대한주택공사 우수시공업체 지정</p>
            </div>
          </li>
          <li data-img="img22">
            <p class="year">1999</p>
            <div class="event">
              <p>산재예방 유공표창수상(산업안전공단) 중공업부문전력PU, 영광원자력 5호기용 변압기와 가스절연개폐설비 및 고압차단기 설치</p>
              <p>중공업부문전력PU, 제1회 지식경영대상 시상식 최우수상 수상</p>
              <p>중공업부문창원공장, 한국가스공사와 패키지형 CNG 충전시스템 국산화</p>
              <p>중공업부문중공업연구소, SPOT용접기 TIMER 순수 자체 기술로 국산화 성공</p>
              <p>중공업부문800kV GIS 국내 최초로 개발 완료 (2점절 차단기를 채택한 GIS로는 세계 최초)</p>
            </div>
          </li>
          <li data-img="img23">
            <p class="year">1998</p>
            <div class="event">
              <p>전력PU, 국내 최초 800kV 50kA 8000A GIS 개발</p>
              <p>중공업부문세계 세 번째, 국내 최초 UHV급 가스절연개폐장치(GIS) 개발</p>
              <p>중공업부문효성ABB를 합작선인 스위스 ABB사에 매각 계약 체결</p>
              <p>건설부문고양시장 성실시공 표창 수상</p>
              <p>건설부문㈜효성으로 합병(자본금 992억원)</p>
              <p>건설부문효성드라이비트, 이천공장 생산설비 증설(연산 2만 3,000톤)</p>
              <p>중공업부문200MVAR 345kV 분로리액터 국내 최초 개발</p>
              <p>건설부문건설진흥촉진대회 ‘대통령 산업포상’ 수상</p>
              <p>건설부문삭도설치공사업 면허 취득</p>
              <p>중공업부문전력PU, 국제공인 기관인 이탈리아 CESI로부터 몰드변압기 인증</p>
              <p>중공업부문신개발품 ‘362KV 63kA 8000A GIS’ 개발</p>
            </div>
          </li>
          <li data-img="img24">
            <p class="year">1997</p>
            <div class="event">
              <p>효성중공업 조치원공장, 국내 최대 규모 765kV 철탑시험장 하중시험 성공</p>
            </div>
          </li>
          <li data-img="img25">
            <p class="year">1996</p>
            <div class="event">
              <p>효성드라이비트, 드라이텍(경량복합패널) 특허 취득</p>
              <p>건설부문효성드라이비트, 외단열공법 적용 최대 단일 프로젝트(용인 에버랜드) 공사 완료</p>
              <p>중공업부문효성중공업, 히다치제작소와 초고압 변압기 기술제휴 체결 및 765kV 초고압 변압기 상용화 착수</p>
            </div>
          </li>
          <li data-img="img26">
            <p class="year">1995</p>
            <div class="event">
              <p>철강재설치공사업 면허 취득(건설교통부 제120호)</p>
              <p>건설부문효성건설㈜ 별도 법인 설립</p>
              <p>중공업부문효성ABB, ISO 9001 인증 획득</p>
            </div>
          </li>
          <li data-img="img27">
            <p class="year">1994</p>
            <div class="event">
              <p>효성중공업 고속전철 T.F.T, 독일 지멘스 사와 AC견인전동기 기술 제휴계약 체결 및 대구 지하철 1호선 추가물량 52대분 공급계약 체결</p>
              <p>중공업부문효성중공업, 국내 최초 산업용 전동기 300만 대 돌파</p>
              <p>건설부문해외건설업 면허 취득(토목건축공사업(건설부 제155호))</p>
              <p>건설부문효성건설, 해외건설업 면허 취득(토목건축공사업(건설부 제155호))</p>
            </div>
          </li>
          <li data-img="img28">
            <p class="year">1993</p>
            <div class="event">
              <p>효성중공업, 산업기계 부문 제외한 생산 전 품목 ISO 9001 인증 획득</p>
              <p>건설부문효성드라이비트, KS 획득</p>
            </div>
          </li>
          <li data-img="img29">
            <p class="year">1992</p>
            <div class="event">
              <p>포장 공사업 면허 취득(건설부 제429호)</p>
              <p>건설부문효성드라이비트, 건설 면허 취득</p>
              <p>중공업부문효성중공업, 국내 최초 765kV 초고압 변압기 개발</p>
              <p>효성드라이비트, 건설 면허 취득</p>
              <p>건설부문상공의 날 기념 ‘대통령 산업훈장’ 수상</p>
              <p>중공업부문효성중공업, INVERTER TYPE CO2 용접기 개발</p>
            </div>
          </li>
          <li data-img="img30">
            <p class="year">1990</p>
            <div class="event">
              <p>효성중공업, AMORPHOUS 변압기 개발</p>
            </div>
          </li>
          <li data-img="img31">
            <p class="year">1989</p>
            <div class="event">
              <p>효성중공업, 소형 PLC 국산화 완료</p>
              <p>중공업부문효성중공업, 창원 제4공장(전장공장) 준공</p>
              <p>건설부문효성드라이비트, 국제공인품질검사기관 SOCIETE GENERALE DE SURVELLANCE와 품질보증협약 계약</p>
              <p>건설부문효성드라이비트, 미국 태평양지역 사령부로부터 제품 사용 승인</p>
            </div>
          </li>
          <li data-img="img32">
            <p class="year">1988</p>
            <div class="event">
              <p>효성중공업, 방글라데시 대규모 변전소(132kV) 건설 프로젝트 완료</p>
              <p>중공업부문효성ABB, 첨단중전기 생산 인천공장 준공</p>
              <p>중공업부문효성중공업, 국내 최초로 일본에 GIS 수출</p>
            </div>
          </li>
          <li data-img="img33">
            <p class="year">1987</p>
            <div class="event">
              <p>효성중공업, ‘VE 대상’ 수상</p>
              <p>중공업부문효성중공업, 창원 제3공장(회전기 공장) 준공</p>
              <p>중공업부문효성중공업, 저손실형 변압기 개발로 ‘전기・에너지대상’ 수상</p>
              <p>건설부문건설부 주택건설업 지정업자로 지정(제96호)</p>
              <p>중공업부문효성중공업, ASEA와 합작, 효성ASEA 설립(1988년 효성ABB로 사명 변경)</p>
              <p>중공업부문효성중공업, 동탑산업훈장 수상</p>
              <p>건설부문효성드라이비트(주) 설립</p>
            </div>
          </li>
          <li data-img="img34">
            <p class="year">1986</p>
            <div class="event">
              <p>효성물산, 미국 DRYVIT SYSTEMS INC 간에 합작투자 계약</p>
              <p>건설부문소방설비공사 면허 취득(면허번호 86-26호)</p>
              <p>건설부문효성BASF 외단열사업부, 국제공인품질검사기관(미국 RADCO)과 E.P.S Board에 대한 품질 보증 계약</p>
              <p>건설부문대한주택공사 ‘우수시공업체’ 지정</p>
              <p>중공업부문효성중공업, 3상 유도전동기 캐나다 CSA인증 획득</p>
              <p>중공업부문효성중공업, 사업부제 도입</p>
              <p>건설부문서울시 건축상 은상 수상</p>
            </div>
          </li>
          <li data-img="img35">
            <p class="year">1985</p>
            <div class="event">
              <p>효성중공업, 코오롱종합전기㈜와 쌍용전기㈜ 흡수합병</p>
              <p>중공업부문효성중공업, 전동기 생산 100만 대 돌파 기념식</p>
              <p>중공업부문효성중공업, 경북 울진에 건설중인 원자력 9·10호기에 345kV 가스절연 변전소 제작, 공급</p>
              <p>건설부문효성건설, 한국전력 345kV 신제천 T/L 완공</p>
              <p>건설부문효성BASF 외단열사업부, DRYVIT SYSTEMS에 대한 주한미군 승인 획득</p>
            </div>
          </li>
          <li data-img="img36">
            <p class="year">1984</p>
            <div class="event">
              <p>효성중공업 창원공장, 3상 154kV 상 분리형 변압기 개발</p>
              <p>건설부문효성건설, 한국전력 154kV 창녕 T/L 완공</p>
              <p>중공업부문효성중공업, ‘생산성 대상’ 수상</p>
              <p>건설부문품질관리 대상 수상</p>
              <p>중공업부문효성중공업, 효성건설(주) 흡수 합병 · 효성중공업, ‘2천만 불 수출의 탑’ 수상</p>
              <p>중공업부문효성중공업, ‘품질관리대상’ 수상</p>
              <p>건설부문효성중공업주식회사로 흡수 합병</p>
              <p>건설부문효성건설, 엔지니어링 부문 영업 인수</p>
              <p>중공업부문효성중공업, 154kV급 삼상 60,000kVA 대형전력용변압기 단락강도 실험에서 국제규격(ANSI) 합격</p>
            </div>
          </li>
          <li data-img="img37">
            <p class="year">1983</p>
            <div class="event">
              <p>효성중공업, 362kV 초고압 가스절연발전소 개발 성공</p>
              <p>건설부문효성건설, 청담빌딩 준공</p>
              <p>중공업부문효성중공업, ‘1천만 불 수출의 탑’ 수상</p>
              <p>건설부문효성건설, 효성빌라 기공식</p>
              <p>중공업부문효성중공업, 몰드변압기 개발로 철탑산업훈장 수훈</p>
              <p>중공업부문효성중공업, 전동기 미국 수출 개시</p>
              <p>중공업부문효성중공업, 몰드변압기 개발</p>
            </div>
          </li>
          <li data-img="img38">
            <p class="year">1982</p>
            <div class="event">
              <p>효성중공업, 국내 최초로 원자력 발전소용 345kV 초고압 3상 변압기 제작 성공</p>
              <p>중공업부문효성중공업, 150kV TM(견인전동기) 개발</p>
            </div>
          </li>
          <li data-img="img39">
            <p class="year">1981</p>
            <div class="event">
              <p>효성중공업, 방글라데시 JAMUNA강 횡단 230kV 송전철탑 수출</p>
              <p>건설부문효성건설(주), 효성엔지니어링(주) 흡수 합병</p>
              <p>중공업부문효성중공업, 전국품질관리대상에서 '공업표준화 금상' 수상</p>
              <p>중공업부문효성중공업, 조석래 회장 취임(공동대표이사에 배가은 사장, 최종원 사장 취임)</p>
            </div>
          </li>
          <li data-img="img40">
            <p class="year">1980</p>
            <div class="event">
              <p>효성중공업, 쌍용전기∙코오롱종합전기 흡수 통합. 154kV급 이상 변압기 및 차단기 독점 생산 체제 구축</p>
            </div>
          </li>
          <li data-img="img41">
            <p class="year">1978</p>
            <div class="event">
              <p>효성중공업, 초대형 발전소용 주변압기 345kV 3상 47만 5,000kVA 국내 최초 아시아 두 번째로 개발</p>
              <p>건설부문효성건설, 전기공사업(제1종) 면허 취득(동력자원부 제411호)</p>
              <p>중공업부문효성중공업, 170kV GCB 개발</p>
              <p>중공업부문효성중공업, 154kV급 이동 변압기 국산화 성공</p>
              <p>중공업부문효성중공업, 기술연구소 설립</p>
              <p>중공업부문효성중공업, 3상 고압 유도전동기 생산</p>
              <p>중공업부문효성중공업, 국내 최초로 345kV급 초대형 변압기 개발</p>
              <p>건설부문효성건설, 전기공사업 면허 취득(동력자원부 장관 제835호)</p>
            </div>
          </li>
          <li data-img="img42">
            <p class="year">1977</p>
            <div class="event">
              <p>한영공업㈜, 효성중공업㈜로 상호 변경</p>
              <p>건설부문효성건설 주식회사로 사명 변경</p>
              <p>중공업부문한영공업㈜, 창원공장 준공</p>
              <p>중공업부문한영공업㈜, 362kV 가스 차단기(GCB) 개발</p>
            </div>
          </li>
          <li data-img="img43">
            <p class="year">1976</p>
            <div class="event">
              <p>한영공업, 154kV 변압기 필리핀 수출</p>
              <p>중공업부문한영공업, 창원기계공업공단에 대단위 공장 착공</p>
            </div>
          </li>
          <li data-img="img44">
            <p class="year">1975</p>
            <div class="event">
              <p>한영공업㈜ 인수</p>
              <p>중공업부문효성중공업, 조석래 사장 취임</p>
            </div>
          </li>
          <li data-img="img45">
            <p class="year">1972</p>
            <div class="event">
              <p>중공업부문3상 저압 전동기 KS 획득</p>
            </div>
          </li>
          <li data-img="img46">
            <p class="year">1970</p>
            <div class="event">
              <p>건설부문대동건설, 건설업 면허 취득(토목건축공사업)(건설부 제771호)</p>
              <p>건설부문대동건설주식회사 설립</p>
            </div>
          </li>
          <li data-img="img47">
            <p class="year">1969</p>
            <div class="event">
              <p>중공업부문한영공업, 국내 최초로 154kV 초고압변압기 제작</p>
            </div>
          </li>
          <li data-img="img48">
            <p class="year">1966</p>
            <div class="event">
              <p>중공업부문한영공업, 영등포공장 준공</p>
            </div>
          </li>
          <li data-img="img49">
            <p class="year">1962</p>
            <div class="event">
              <p>중공업부문한영공업주식회사 설립</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="history__img"></div>
    </div>
  </div>
</main>
