<main id="histroy">
  <!-- 섹션1 -->
  <div class="section fp-auto-height-responsive fp-auto-height" data-percentage="80" data-centered="true">
    <section>
      <div class="section1__bg-wrap">
        <div class="section1__bg-img"></div>
        <div class="section1__text ko">
          <h1>연혁</h1>
          <h4>혁신의 역사를 만들어낸 지속적인 성장과 도전</h4>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <div class="swiper his_full_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
    </div>
  </div>
</main>
