<main id="histroy">
  <!-- 섹션1 -->
  <div class="section fp-auto-height-responsive fp-auto-height" data-percentage="80" data-centered="true">
    <section>
      <div class="section1__bg-wrap">
        <div class="section1__bg-img"></div>
        <div class="section1__text ko">
          <h1>연혁</h1>
          <h4>혁신의 역사를 만들어낸 지속적인 성장과 도전</h4>
        </div>
      </div>
    </section>
  </div>
  <div class="compony__history">
    <div class="history__wrap">
      <div class="history__nav">
        <p>2021</p>
        <p>2020</p>
        <p>2019</p>
        <p>2018</p>
        <p>2017</p>
        <p>2016</p>
        <p>2015</p>
        <p>2014</p>
        <p>2013</p>
        <p>2012</p>
        <p>2011</p>
        <p>2010</p>
        <p>2009</p>
        <p>2008</p>
        <p>2007</p>
        <p>2006</p>
        <p>2005</p>
        <p>2004</p>
        <p>2003</p>
        <p>2002</p>
        <p>2001</p>
        <p>2000</p>
        <p>1999</p>
        <p>1998</p>
        <p>1997</p>
        <p>1996</p>
        <p>1995</p>
        <p>1994</p>
        <p>1993</p>
        <p>1992</p>
        <p>1990</p>
        <p>1989</p>
        <p>1988</p>
        <p>1987</p>
        <p>1986</p>
        <p>1985</p>
        <p>1984</p>
        <p>1983</p>
        <p>1982</p>
        <p>1981</p>
        <p>1980</p>
        <p>1978</p>
        <p>1977</p>
        <p>1976</p>
        <p>1975</p>
        <p>1972</p>
        <p>1970</p>
        <p>1969</p>
        <p>1966</p>
        <p>1962</p>
      </div>
      <div class="history__event">
        <P>HISTORY</P>
        <ul class="history__list">
          <li data-img="img0">
            <p class="year">2021</p>
            <div class="event">
              <p>부산시, 한국자산관리공사와 부산광역시 액화수소산업 생태계 조성을 위한 업무협약(MOU) 체결</p>
              <p>인천 산곡 도시환경정비사업 수주(계약금액 3666억원 규모) 두산중공업, SK E&S, 포스코에너지, 한화에너지, 현대자동차 등 9개 기업과 '에너지 얼라이언스' 출범</p>
              <p>린데그룹과 액화수소 사업 추진 합작법인(JV) 투자 계약 체결</p>
            </div>
          </li>
          <li data-img="img1">
            <p class="year">2020</p>
            <div class="event">
              <p>강원도 삼척에 국내 첫 액화수소 충전소 설립</p>
              <p>린데그룹과 액화수소 사업 추진 MOU 체결</p>
            </div>
          </li>
          <li data-img="img2">
            <p class="year">2019</p>
            <div class="event">
              <p>미국 테네시주 초고압변압기(MEPPI) 공장 인수 관련 MOU 체결</p>
              <p>여의도 국회 수소충전소 준공</p>
              <p>인도 뉴델리 ‘Grid Tech 2019’ 참가</p>
              <p>청량리역 해링턴 플레이스 분양</p>
              <p>수소충전소 연합군 ‘하이넷’ 합류</p>
              <p>창원공장, 2018 창원시 사회공헌 유공자 감사패 전달식</p>
              <p>대한민국 그린카 어워드 그린에너지상 수상</p>
            </div>
          </li>
          <li data-img="img3">
            <p class="year">2018</p>
            <div class="event">
              <p>창원공장 전시실 "효성스퀘어" 개관</p>
              <p>효성중공업㈜ 분사</p>
              <p>조선비즈 ‘2018 한국의 가장 사랑받는 브랜드 대상’</p>
              <p>건설PG, 건설신기술 제833호 취득</p>
            </div>
          </li>
          <li data-img="img4">
            <p class="year">2017</p>
            <div class="event">
              <p>전력PU, 핵융합 연구 공헌 장관표창 수상</p>
              <p>창원공장, 1사 1촌 농촌사회공헌인증 재인증 기업 선정</p>
              <p>건설부문2017 친환경 건설사업대상 주상복합부문 대상 수상</p>
              <p>중공업부문2017 동반성장 주간 '중기부 장관 표창' 수상</p>
              <p>중공업부문변전소 자산관리 솔루션(AHMS) '철도 10대 기술상' 수상</p>
              <p>건설부문중앙일보 ‘친환경건설산업대상’</p>
              <p>중공업부문창원공장, STATCOM 생산공장 신축</p>
              <p>건설부문조선비즈 ‘2017 한국의 가장 사랑받는 브랜드대상(아파트부문)’</p>
            </div>
          </li>
          <li data-img="img5">
            <p class="year">2016</p>
            <div class="event">
              <p>인도 푸네 차단기 생산 공장 가동</p>
              <p>중앙일보 ‘친환경건설산업대상’ 평택 효성해링턴 플레이스</p>
            </div>
          </li>
          <li data-img="img6">
            <p class="year">2015</p>
            <div class="event">
              <p>국내 최초 해외 스태콤 시장 진출</p>
              <P>창원공장, PSM공정안전관리 S등급 취득</P>
              <P>중공업부문중공업PG, 몽골 전력망 시장 진출</P>
              <P> 건설부문2015 하반기 한경 주거문화대상 고객만족부문</P>
              <P>중공업부문풍력사업단, 5MW 해상풍력발전시스템 국제인증 취득</P>
              <P>중공업부문창원공장, 경상남도와 ‘미세먼지 저감을 위한 자발적 환경협약’ 체결</P>
              <P>건설부문조선비즈 ‘2015 한국의 가장 사랑받는 브랜드 대상(아파트부문)’</P>
              <P>건설부문중앙포브스 ‘2015 소비자선정 최고의 브랜드(아파트부문)’</P>
              <P>건설부문건설PU, 2014년 수주액 1조 5,000억 원 성과</P>
            </div>
          </li>
          <li data-img="img7">
            <p class="year">2014</p>
            <div class="event">
              <p>건설부문2014 하반기 한경 주거문화대상</p>
              <p>아파트부문 대상(용인 구성역 효성해링턴 플레이스)</p>
              <p>중공업부문중공업PG, 인도 국가전력청 주최 제3회 Annual Contractor</p>
              <p>Interactive Session에서 2013 BEST GIS CONTRACT 수상</p>
              <p>중공업부문창원공장, 차단기 개발시험동 신축</p>
              <p>중공업부문기전PU, 국내 첫 택시용 CNG 충전소 공급</p>
            </div>
          </li>
          <li data-img="img8">
            <p class="year">2013</p>
            <div class="event">
              <p>초고압차단시스템인 ‘245㎸와 420㎸급 GIS’ ‘2013 세계일류상품’ 선정</p>
              <p>건설부문‘2013년 건설PG 동반성장 협의체 발대식’ 개최</p>
              <p>중공업부문중공업PG 조치원공장, ‘세종공장’으로 명칭 변경</p>
              <p>중공업부문중공업PG, ‘2013 프로스트 앤드 설리번 대한민국 어워드’</p>
              <p>제품 전략상 수상</p>
              <p>건설부문2013 상반기 한경 주거문화대상 브랜드 대상</p>
              <p>건설부문건자재사업부 외단열사업부문(자재분야) 포괄적양수도로 ㈜벽산으로 이전</p>
              <p>중공업부문전력PU, 모잠비크 태양광 발전소 턴키 수주</p>
              <p>건설부문건설PG, 진흥기업과의 통합 신규 브랜드 ‘해링턴 플레이스’ 론칭</p>
            </div>
          </li>
          <li data-img="img9">
            <p class="year">2012</p>
            <div class="event">
              <p>전력PU, ‘2012 대한민국 기술대상’ 우수상 수상</p>
              <p>건설부문2012 아주경제 건설대상(평택 비전동 백년가약(단지조경))</p>
              <p>중공업부문‘1kW급 듀얼 셀(Dual Cell) 스택(Stack)’ 개발</p>
              <p>중공업부문효성 태양광 인버터 CE 인증</p>
            </div>
          </li>
          <li data-img="img10">
            <p class="year">2011</p>
            <div class="event">
              <p>창원공장, ‘2011년 환경경영 우수기업상’ 수상</p>
              <p>중공업부문전력PU, 정지형 순동(瞬動) 무효전력 보상장치(STATCOM)로 IR52 장영실상 수상</p>
              <p>건설부문평택 소사벌 백년가약 아파트 한경주거문화대상 녹색 에너지 부문 대상</p>
              <p>중공업부문풍력사업단, 750 kW 및 2MW 육상풍력발전시스템 국제인증 취득</p>
            </div>
          </li>
          <li data-img="img11">
            <p class="year">2010</p>
            <div class="event">
              <p>지식경제부 주관 ‘2010년 대한민국 기술대상’ 우수상 수상</p>
              <p>중공업부문전력PU, 한국 기업 최초로 알제리 송변전 시장 진출(1,000억 원 규모 초고압 변전소 일괄입찰방식 수주)</p>
              <p>중공업부문창원공장, 3공장 초고압변압기공장, 고압전동기 신공장 신축</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
