<main id="login">
  <section>
    <div class="login__text">
      <div class="login__text--title ko">
        <h1>로그인</h1>
      </div>
      <div class="login__text--subTitle ko">
        <p>아이디와 비밀번호를 입력해주세요.</p>
      </div>
    </div>
    <div class="login__writeBox">
      <input type="text" id="id" placeholder="아이디" />
      <input type="password" id="password" placeholder="비밀번호" />
    </div>
    <div class="login__find ko">
      <p><a href=""> 아이디 찾기</a> | <a href="">비밀번호 찾기</a></p>
    </div>

    <button class="loginBox ko" type="button">로그인</button>
    <span class="line"></span>
    <button class="signUp--box ko" type="button"><a href="/sign-up">회원가입</a></button>
  </section>
</main>
