<main id="write">
  <!-- 섹션1 -->
  <section>
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>투자 정보</h1>
        <h4>주주의 가치를 높이는 기업, 사회의 가치를 지키는 기업</h4>
      </div>
    </div>
  </section>
  <section>
    <div class="section2__wrap w1200">
      <div class="section2__title ko">
        <h1>공고</h1>
      </div>
      <div class="storage">
        <a href="">
          <p>임시저장</p>
        </a>
      </div>
      <form action="/update_notice" method="post">
        <div class="write--box">
          <input type="hidden" name="id" value="<%= row.id %> " />
          <input type="text" name="title" value="<%= row.title %> " />
          <textarea name="content" cols="30" rows="10"><%= row.content %></textarea>
          <input type="hidden" name="create_time" value="<%= row.create_time %> " />
        </div>
        <div class="push">
          <div class="registration">
            <input type="submit" id="button" value="수정" />
          </div>
          <div class="cancel">
            <a href="notice.ejs">
              <p>취소</p>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
