<section class="section1">
  <div class="bgwrap">
    <div class="bgimg"></div>
    <!--섹션1 타이들 부분-->
    <div class="sec1_title">
      <h1>
        <span class="pointC">
          IMPLEMENTING A SUSTAINABLE,<br />
          ECO-FRIENDLY
        </span>
        INFRASTRUCTURE<br />
        FOR HUMAN AND NATURE
      </h1>
      <p>인간과 자연이 함께 <span class="pointC">지속가능한 친환경 인프라</span>를 구축합니다</p>
    </div>
    <div id="scroll-downs">
      <span>scroll</span>
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </div>
</section>
