<section class="section3">
  <!--섹션3 배경화면-->
  <div class="section3_bg">
    <div class="section3_wrap w1200">
      <!--섹션 3 타이틀 -->
      <div class="section3Title">
        <h4 class="pointC">Alliances</h4>
        <h1>
          폭넓은 얼라이언스를 기반으로<br />
          <span class="pointC">Best-of-Breed</span> 솔루션을 제공합니다.
        </h1>
      </div>
      <!--섹션 3 컨텐츠 패밀리 사이트들이 들어가는 부분-->
      <div class="section3Cont">
        <ul class="upper">
          <li>
            <a href="#">
              <img src="img/familysite1.png" alt="TNC familysite1" />
            </a>
          </li>
          <li class="m0">
            <a href="#">
              <img src="img/familysite2.png" alt="TNC familysite2" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/familysite3.png" alt="TNC familysite3" />
            </a>
          </li>
          <li class="m9">
            <a href="#">
              <img src="img/familysite4.png" alt="TNC familysite4" />
            </a>
          </li>
        </ul>
        <ul class="under">
          <li>
            <a href="#">
              <img src="img/familysite5.png" alt="TNC familysite5" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/familysite6.png" alt="TNC familysite6" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/familysite7.png" alt="TNC familysite7" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/familysite8.png" alt="TNC familysite8" />
            </a>
          </li>
        </ul>
      </div>
      <!-- 모바일버젼 -->
      <div class="section3Cont_m">
        <div class="upper1">
          <ul>
            <li>
              <a href="#">
                <img src="img/familysite1.png" alt="TNC familysite1" />
              </a>
            </li>
            <li class="m0">
              <a href="#">
                <img src="img/familysite2.png" alt="TNC familysite2" />
              </a>
            </li>
          </ul>
        </div>
        <div class="upper2">
          <ul>
            <li>
              <a href="#">
                <img src="img/familysite3.png" alt="TNC familysite3" />
              </a>
            </li>
            <li class="m9">
              <a href="#">
                <img src="img/familysite4.png" alt="TNC familysite4" />
              </a>
            </li>
          </ul>
        </div>
        <div class="under1">
          <ul>
            <li>
              <a href="#">
                <img src="img/familysite5.png" alt="TNC familysite5" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite6.png" alt="TNC familysite6" />
              </a>
            </li>
          </ul>
        </div>
        <div class="under2">
          <ul>
            <li>
              <a href="#">
                <img src="img/familysite7.png" alt="TNC familysite7" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/familysite8.png" alt="TNC familysite8" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
