<footer>
  <div class="footer__wraper w1200">
    <!--LOGOLOGO-->
    <div class="footer__leftBox">
      <a href=""><div class="LOGO_m"></div></a>
      <!--footer_content-->
      <div class="footer__content">
        <h6>서울특별시 마포구 마포대로 119(공덕동)</h6>
        <span>중공업 부분 : 02-707-6000 | 건설 부분 : 02-707-4400</span>
      </div>
      <div class="footer__copyright">
        <h6>COPYRIGHTⓒ 2018 HYOSUNG HEAVY INDUSTRIES. ALL RIGHTS RESERVED.</h6>
      </div>
    </div>
    <div class="footer__rightBox">
      <div class="rightBox__text">
        <h5>개인정보처리방침 | 이메일무단수집거부 | 이용약관 | 협력업체 등록</h5>
      </div>
      <div class="rightBox__content">
        <div class="sns__list">
          <a href="#"><img src="img/iconmonstr-instagram-11-24.png" alt="" /></a>
          <a href="#"><img src="img/iconmonstr-facebook-3-24.png" alt="" /></a>
          <a href="#"><img src="img/iconmonstr-youtube-6-24.png" alt="" /></a>
        </div>
        <!-- 드롭다운메뉴 -->
        <div class="dropup-center dropup">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">FAMILY SITE</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">효성티앤씨</a></li>
            <li><a class="dropdown-item" href="#">효성굿스프링스</a></li>
            <li><a class="dropdown-item" href="#">효성첨단소재</a></li>
            <li><a class="dropdown-item" href="#">효성화학</a></li>
            <li><a class="dropdown-item" href="#">효성해링턴플레이스</a></li>
            <li><a class="dropdown-item" href="#">효성인포메이션시스템</a></li>
            <li><a class="dropdown-item" href="#">갤럭시아일렉트로닉스</a></li>
            <li><a class="dropdown-item" href="#">POKETONE™</a></li>
          </ul>
        </div>
        <!-- 모바일에서만 -->
        <div class="footer__copyright">
          <h6>COPYRIGHTⓒ 2018 HYOSUNG HEAVY INDUSTRIES. ALL RIGHTS RESERVED.</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
