<main id="write">
  <!-- 섹션1 -->
  <section>
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>투자 정보</h1>
        <h4>주주의 가치를 높이는 기업, 사회의 가치를 지키는 기업</h4>
      </div>
    </div>
  </section>
  <table id="table" class="w1200">
    <tr>
      <td>제목 :</td>
      <td><%= row.title %></td>
    </tr>
    <tr>
      <td>내용 :</td>
      <td><%= row.content %></td>
    </tr>
    <tr>
      <td>작성자 :</td>
      <td><%= data.rootID %></td>
    </tr>
  </table>
</main>
