<main id="write">
  <!-- 섹션1 -->
  <section>
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>투자 정보</h1>
        <h4>주주의 가치를 높이는 기업, 사회의 가치를 지키는 기업</h4>
      </div>
    </div>
  </section>
  <section>
    <div class="section2__wrap w1200">
      <div class="section2__title ko">
        <h1>공고</h1>
      </div>
      <div class="storage">
        <a href="">
          <p>임시저장</p>
        </a>
      </div>
      <div class="write--box">
        <input type="text" placeholder="제목" />
        <textarea name="content" id="content" cols="30" rows="10" placeholder="내용"></textarea>
      </div>
      <div class="rootName">
        <input type="text" placeholder="관리자 ID" />
        <input type="password" placeholder="관리자 PW" />
      </div>
      <div class="push">
        <div class="registration">
          <a href="">
            <p>등록</p>
          </a>
        </div>
        <div class="cancel">
          <a href="">
            <p>취소</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
