<main id="about_us">
  <section class="section1">
    <div class="section1__bg-wrap">
      <div class="section1__bg-img"></div>
      <div class="section1__text ko">
        <h1>개요</h1>
        <h4>저탄소 그린 라이프 시대를 선도하는 기업</h4>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="section2__wrap">
      <div class="about_us__compony-intro--title w1200">
        <p class="ko" data-aos="fade-up" data-aos-duration="2000">삶을 대하는 효성중공업의 새로운 태도</p>
        <h1 data-aos="fade-up" data-aos-duration="2000">
          NEW<br />
          PERSPECTIVE
        </h1>
        <h2 class="ko" data-aos="fade-up" data-aos-duration="2000">
          효성중공업은 새로운 도전과 혁신을 바탕으로<br />
          고객에게 최고의 가치를 제공합니다
        </h2>
      </div>
      <div class="about_us__compony-intro--video" data-aos="fade-up" data-aos-duration="3000">
        <video autoplay muted loop>
          <source src="/img/HYOSUNG PR FILM.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="overview">
        <article class="txt01 ko">
          <P data-aos="fade-up" data-aos-duration="2000">
            효성중공업은<br />
            정직한 기업철학으로<br />
            고객의 행복을 지어갑니다
          </P>
        </article>
        <article class="txt02" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
          <p class="ko">
            효성중공업은 주택, 재개발 · 재건축, 업무 · 상업시설, 토목 · 환경, SOC 등<br />
            다양한 건설사업 분야에 참여하고 있습니다
          </p>
          <p class="ko">지속적인 연구와 투자로 인간과 자연이 공생하는 환경친화적 경영을 실천하겠습니다.</p>
          <p>HYOSUNG HEAVY INDUSTRIES CO.,LTD</p>
        </article>
      </div>
      <div class="overview__section2">
        <div class="overview__section2--inner w1200 ko">
          <p data-aos="fade-up" data-aos-duration="2500">
            효성중공업은 새로운 모습으로<br />
            고객과 소통하려 합니다
          </p>
          <ul>
            <li data-aos="fade-up" data-aos-duration="2000">
              <p>정직성실</p>
              <p>
                고객, 사회, 직원과의 약속을 생명처럼<br />
                소중히 생각하고 건설 기술인의 자존심과<br />
                도덕을 성실히 지켜 나갈 것입니다.
              </p>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
              <p>일심화합</p>
              <p>
                고객에게 선택받지 못한 기업은<br />
                생명력을 유지할 수 없습니다.<br />
                기업구성원 모두가 고객만족이라는<br />
                하나 된 목표 아래 최선을 다하겠습니다.
              </p>
            </li>
            <li data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
              <p>창의개발</p>
              <p>
                신기술 도입과 기술인 교육 제도를 통해<br />
                기업 성장의 발판이 되는 창의 기술력을<br />
                개발하여 시장경쟁력을 더욱 높이겠습니다.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
