<section>
  <div class="section5__wrap w1200">
    <!--섹션 5 타이틀-->
    <div class="section5__title">
      <strong>
        SUSTAINABLE<br />
        MANAGEMENT
      </strong>
      <h5>
        효성중공업은 기업의 사회적 책임을 다하여<br />
        <span class="pointC">사람과 사회, 환경</span>이 공존하는 미래를 만들기 위해 노력합니다
      </h5>
    </div>
    <!--섹션 5 컨텐츠-->
    <div class="section5__content">
      <ul>
        <a href="" class="content__wrap">
          <li>
            <div class="content--img1 C_IMG"></div>
            <div class="content--text">그린경영</div>
          </li>
        </a>
        <a href="" class="content__wrap">
          <li>
            <div class="content--img2 C_IMG"></div>
            <div class="content--text">윤리경영</div>
          </li>
        </a>
        <a href="" class="content__wrap">
          <li>
            <div class="content--img3 C_IMG"></div>
            <div class="content--text">나눔경영</div>
          </li>
        </a>
        <a href="" class="content__wrap">
          <li>
            <div class="content--img4 C_IMG"></div>
            <div class="content--text">상생경영</div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</section>
