<section class="section2">
  <div class="section2_wrap w1200">
    <!--섹션 2 타이틀-->
    <div class="section2Title">
      <h1>WHAT WE OFFER</h1>
      <p>최고의 기술과 경영 역량을 바탕으로 인류의 <span class="pointC">보다 나은 생활</span>을 선도합니다</p>
    </div>
    <!--섹션 2 컨텐츠 -->
    <div class="section2Cont">
      <div class="article_wrap">
        <article class="s2C_img1">
          <!--섹션 2 컨텐츠에 있는 타이들 부분-->
          <div class="section2Cont_title">
            <h1>Maintenance</h1>
            <span></span>
            <h6>글로벌 중전기 시장을 선도하는 핵심사업 부문</h6>
            <!-- 더보기-->
            <div class="sec2_more"></div>
          </div>
        </article>
      </div>
      <div class="article_wrap">
        <article class="s2C_img2">
          <div class="section2Cont_title">
            <h1>Solution</h1>
            <span></span>
            <h6>최고의 효율을 제공하는 최상의 솔루션</h6>
            <div class="sec2_more"></div>
          </div>
        </article>
      </div>
      <div class="article_wrap">
        <article class="s2C_img3">
          <div class="section2Cont_title">
            <h1>Architecture</h1>
            <span></span>
            <h6>
              효성중공업만의 특화된 기술력이<br />
              아름다운 도시를 완성합니다.
            </h6>
            <div class="sec2_more"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
