<form action="/sign-up-next" method="post">
  <main id="sign-up-next">
    <section class="welcome">
      <div class="sign-up-next--content ko w1200">
        <div class="logo"></div>
        <h1>회원가입이 완료되었습니다.</h1>
        <p>
          축하합니다.<br />
          회원님이 가입하신 정보는 다음과 같습니다.
        </p>
        <h6 class="id">아이디 : <%= id %></h6>
        <h6>비밀번호 : *******</h6>
        <div class="controlBtn">
          <article>
            <p><a href="/">메인페이지</a></p>
          </article>
          <article>
            <p><a href="login">로그인</a></p>
          </article>
        </div>
      </div>
    </section>
  </main>
</form>
