.section__wrap3 {
  display: flex;
  height: auto;
  padding: 120px 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: 0.5s;
}

.section3__pic {
  width: 500px;
  height: 453px;
  background-image: url(../../img/company.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

@media (max-width: 1280px) {
  .section__wrap3 {
    padding: 40px 20px;
    flex-direction: column;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .HyosungDo {
    width: 100%;
  }
  .section3__pic {
    width: 286px;
    height: 260px;
  }
}
