.section__wrap2 {
  display: flex;
  height: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 120px 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.HyosungDo {
  width: 500px;
}

.WhatWeDo {
  font-size: 20px;
  font-weight: bold;
}
.WhatWeDo h5 {
  font-weight: bold;
}

.HyosungDo__title {
  margin: 40px 0;
  font-size: 40px;
}
.HyosungDo__title h1 {
  font-weight: bold;
}

.HyosungDo__Description {
  font-size: 16px;
  font-weight: 300;
  color: #666;
}

.figure1 {
  z-index: -1;
  width: 361px;
  height: 123px;
  background-image: url(../../img/bg_symbol_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1280px) {
  .section__wrap2 {
    flex-direction: column;
    padding: 40px 20px;
    box-sizing: border-box;
    transition: 0.5s;
  }

  .HyosungDo {
    width: 80%;
    text-align: center;
    transition: 0.5s;
  }
  .HyosungDo__Description {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .HyosungDo {
    width: 100%;
  }
  .hyosung__movie {
    width: 100%;
    transition: 0.5s;
  }
  .HyosungDo__Description {
    font-size: 14px;
  }
  iframe {
    width: 100%;
  }
}
