.section5__wrap {
  display: flex;
  padding: 120px 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.section5__wrap .HyosungDo__Description p {
  color: #666;
  font-size: 16px;
}

.section5__wrap .HyosungDo__Description p:nth-child(2) {
  margin-top: 20px;
  color: #777;
  font-size: 15px;
}

.section5_pic {
  width: 666px;
  height: 261px;
  background-image: url(../../img/cont_04_img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

@media (max-width: 1280px) {
  .section5__wrap {
    flex-direction: column;
    padding: 40px 20px;
    box-sizing: border-box;
  }
  .section5__wrap .HyosungDo__Description p {
    color: #666;
    font-size: 15px;
  }
  .section5__wrap .HyosungDo__Description p:nth-child(2) {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section5_pic {
    width: 401px;
    height: 157px;
    transition: 0.5s;
    position: relative;
    left: 5px;
  }
}
