.timeline__wrap {
  position: relative;
  width: 100%;
}
article {
  max-width: 980px;
  margin: 100px auto 350px auto;
}

.timeline__nav {
  position: absolute;
  left: 150px;
  z-index: 99;
  transition: top 0.3s;
}
.timeline__nav.active {
  position: fixed;
  top: 0;
  z-index: 99;
  transition: top 0.3s ease-out;
}
.timeline__nav ul {
  margin: 15px 0;
  list-style: none;
  list-style-position: inside;
}
.timeline__nav ul li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  color: #bfc1c3;
  color: #bfc1c3;
  cursor: pointer;
}
.timeline__nav ul li.active {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #4db6ac;
  transform: scale(1.2);
}
.timeline__nav ul li:hover {
  color: #000;
}

.wrapper > p {
  margin-bottom: 20px;
  padding-left: 9px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.milestone {
  margin: 70px 0 30px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
}
.timeline > h1 {
  z-index: 1;
  margin-bottom: 0.1em;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 0;
}

.timeline {
  padding: 0 20px 0 100px;
  box-sizing: border-box;
}

@media (max-width: 1777px) {
  .timeline__nav {
    left: 50px;
  }
  .timeline__nav.active {
    left: 50px;
  }
  .timeline__wrap > * {
    transition: all 0.3s;
  }
}
@media (max-width: 1680px) {
  .timeline__nav > ul > li.active > .atvimg {
    display: none;
  }
  .timeline__wrap > * {
    transition: all 0.3s;
  }
}

@media (max-width: 1200px) {
  .timeline__nav {
    left: 20px;
  }
  .timeline__nav.active {
    left: 20px;
  }
  .wrapper > p {
    font-size: 14px;
  }

  .milestone {
    font-size: 26px;
  }
  .timeline > h1 {
    font-size: 50px;
  }
  article {
    margin: 100px auto 100px auto;
  }
  .timeline__wrap > * {
    transition: all 0.3s;
  }
}
