.section2__wrap {
  padding: 80px 20px;
  box-sizing: border-box;
}

.section2__title > h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

a.news_wrap {
  /* margin-top: 50px; */
  display: flex;
  padding: 50px 30px;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s;
  /* overflow: hidden; */
}
a.news_wrap:hover {
  background-color: rgb(231, 231, 231);
}

.news__thum {
  width: 250px;
  height: auto;
  transition: all 0.5s;
}
.news__thum > img {
  display: block;
  width: 100%;
  height: auto;
}

.news__text-wrap {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-left: 30px;
  box-sizing: border-box;
}

.news__subject > p {
  overflow: hidden;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news__date > p {
  color: #999;
  font-size: 15px;
  text-align: right;
  margin-left: auto;
}

.root--write {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: flex-end;
  text-align: right;
}
.root--write > a {
  display: block;
  width: 100px;
  height: 37px;
  border: 1px solid #cfcfcf;
  line-height: 37px;
  text-align: center;
}
a {
  color: #333;
}
a:hover {
  color: #333;
}

.notice__search {
  display: flex;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
  justify-content: flex-end;
}
.notice__search a img {
  display: block;
}
.notice__search > input {
  border: none;
}

@media (max-width: 1050px) {
  .news__text-wrap {
    height: 100%;
    flex-direction: column;
    text-align-last: left;
    justify-content: space-between;
  }
  .news__subject > p {
    padding: 10px 0;
    box-sizing: border-box;
  }

  .news__date > p {
    padding: 10px 0;
    box-sizing: border-box;
  }
  .news__thum {
    width: 180px;
    height: auto;
    min-width: 180px;
  }
}

@media (max-width: 610px) {
  .news__subject > p {
    width: 100%;
    color: #333;
    /* text-overflow: initial; */
    white-space: normal;
    word-break: normal;
  }

  .news__subject > p {
    font-size: 16px;
    font-weight: bold;
  }

  .news__date > p {
    font-size: 12px;
  }
}
