@import url(h_header.css);
@import url(news_section1.css);
@import url(news_section2.css);
@import url(E_footer.css);

@import url(news_write_section2.css);
a {
  text-decoration: none;
}

ol,
ul,
dl,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}
* {
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.pointC {
  color: #4db6ac;
}

.en {
  font-family: 'Roboto', sans-serif;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 1280px) {
  header {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .w1200 {
    width: 100%;
  }
}
