@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Noto Sans KR';
}
table,
tr,
td,
th,
div,
p,
em,
ol,
ul,
li,
dl,
dt,
dd,
a,
address,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 11pt;
  color: #666;
  text-decoration: none;
}
.btn_wrap > button {
  padding: 10px 50px;
  border: none;
  background-color: #4db6ac;
  color: #fff;
}
img {
  border: 0;
}
h1 {
  float: left;
  padding: 0 0 0 0px;
}
h2 {
  padding: 0 0 0 0px;
}
ul,
li {
  list-style: none;
}
ul {
  list-style: none;
}
.red_txt {
  color: #ee7272;
}
.container {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}
.blind {
  display: block;
  position: absolute;
  top: -5000px;
  left: 0;
  overflow: hidden;
}
.wrap {
  max-width: 960px;
  margin: 0 auto;
}
.wrap.wd668 {
  max-width: 628px;
}
.wrap.wd668.line {
  padding: 30px 20px;
  border: 1px solid #ececec;
}
.container {
  width: 100%;
}
.sub_tit_txt {
  margin: 200px 0 20px 20px;
  font-size: 25px;
  color: #2f2f2f;
}
.wrap.wd668.line .sub_tit_txt {
  margin: 0px 0 20px 20px;
}
.con_term .term_txt {
  overflow-y: auto;
  height: 210px;
  margin: 0 0 15px;
  padding: 30px;
  border: 1px solid #ececec;
}
.con_term .term_txt ul li,
.con_term .term_txt p,
.con_term .term_txt div {
  margin: 0 0 15px;
  font-size: 12px;
  color: #818181;
  line-height: 17px;
}
.left_margin {
  margin: 0 0 0 20px;
}
.con_term .term_txt div.txt_bold {
  margin: 0 0 25px;
  font-weight: bold;
}
.btn_wrap {
  margin: 40px 0 30px;
  text-align: center;
}
.btn_wrap a {
  display: block;
  width: 168px;
  height: 30px;
  margin: 0 auto;
  padding: 10px;
  background-color: #4db6ac;
  font-weight: bold;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.btn_wrap a.wide {
  width: 587px;
  margin: 0 0 0 20px;
}
.find_txt ul li {
  margin: 0 0 20px;
  font-size: 13px;
  color: #9a9a9a;
  line-height: 17px;
  text-align: center;
}
.form_txtInput .checkbox_wrap {
  position: relative;
  padding: 5px;
  text-align: right;
}
.form_txtInput .checkbox_wrap input[type='checkbox'] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.form_txtInput .checkbox_wrap input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  color: #818181;
  line-height: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.form_txtInput .checkbox_wrap input[type='checkbox'] + label:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #c2c2c2;
  background: #fff;
  text-align: center;
  content: '';
}
.form_txtInput .checkbox_wrap input[type='checkbox'] + label:active:before,
.checkbox_wrap input[type='checkbox']:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.form_txtInput .checkbox_wrap input[type='checkbox']:checked + label:before {
  border-color: #ddd;
  background: #fff;
}
.form_txtInput .checkbox_wrap input[type='checkbox']:checked + label:after {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 7px;
  height: 7px;
  font-size: 13px;
  font-weight: bold;
  color: #4db6ac;
  content: '✓';
}
.exTxt {
  display: block;
  margin: 0 0 45px 20px;
  font-size: 14px;
  color: #9a9a9a;
}
.join_form {
  width: 100%;
  max-width: 668px;
}
.join_form table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0;
}
.join_form table input {
  float: left;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid #ececec;
  font-size: 14px;
  color: #4c4c4c;
}
.join_form table input.email {
  display: inline-block;
  width: 162px;
}
.join_form table input.email2 {
  width: 192px;
}
.join_form.idpwFind table input {
  width: 519px;
}
.join_form.idpwFind table input.email {
  width: 223px;
}
.join_form.idpwFind table input.email2 {
  width: 263px;
}
.join_form.idpwFind table input.phone {
  width: 182px;
  margin: 0 12px 0 11px;
}
.join_form.idpwFind table input.phone2 {
  width: 182px;
}
.join_form table input.send_number {
  width: 150px;
}
.join_form table th span {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
  font-size: 14px;
  color: #404040;
  text-indent: 20px;
}
.join_form table th {
  text-align: left;
}
.join_form table td {
  position: relative;
  padding: 6px 0;
}
.join_form table th span:after {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 13px;
  color: #f95427;
  content: '*';
}
.join_form.idpwFind table th span:after {
  content: none;
}
.join_form table td a.btn_confirm {
  display: inline-block;
  float: left;
  width: 115px;
  height: 35px;
  margin: 0px 0 0 10px;
  border: 1px solid #cfcfcf;
  background: #4db6ac;
  color: #fff;
  line-height: 35px;
  text-align: center;
  vertical-align: top;
}
.join_form.idpwFind table td select {
  float: left;
  width: 124px;
  height: 50px;
  border: 1px solid #ececec;
  background: url(https://secsales.interparkb2b.co.kr/data/G94/main/sele_arr.gif) no-repeat 95% 50%;
  font-size: 14px;
  color: #ccc;
  text-indent: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.join_form.idpwFind table td select::-ms-expand {
  display: none;
}
.join_form.idpwFind table td tr.phone td select {
  text-align: center;
  text-indent: 10px;
}
.join_form.idpwFind table tr.email input:after,
.mar10:after,
.join_form.idpwFind table td select:after,
.join_form table td a.btn_confirm:after {
  display: block;
  clear: both;
  content: '';
}
.agree_wrap {
  margin: 36px 0 0;
}
.agree_wrap .checkbox_wrap {
  text-align: left;
}
::placeholder {
  opacity: 1;
  color: #c4c4c4;
}
:-ms-input-placeholder {
  color: #c4c4c4 !important;
}
::-ms-input-placeholder {
  color: #c4c4c4 !important;
}
.mar27 {
  margin: 27px 0 0;
}
.mar10 {
  display: inline-block;
  float: left;
  margin: 3px 9px 0 10px;
  padding: 0;
}
.exform_txt {
  padding: 12px 0 19px 0;
  border-bottom: 1px solid #ececec;
  font-size: 13px;
  color: #9a9a9a;
  text-align: right;
}
.exform_txt span {
  display: inline-block;
  position: relative;
  padding-left: 10px;
}
.exform_txt span:after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  font-weight: bold;
  color: #f95427;
  content: '*';
}
.join_form table input.email {
  display: inline-block;
  width: 200px;
}
.explan_txt {
  margin: 3px 0 0 22px;
}
.explan_txt li {
  font-size: 13px;
  color: #b2b2b2;
  line-height: 17px;
}
.popWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 5;
  width: 100%;
  max-width: 400px;
  margin: 30px auto 0;
  padding: 30px;
  border: 1px solid #ececec;
  background: #fff;
  transform: translateX(-50%);
}
.popWrap.is-open {
  display: block;
}
.popWrap .pop_txt_con .pop_exTxt {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 20px;
}
.popWrap .pop_txt_con .pop_exTxt span {
  color: #254ee9;
}
.popWrap .pop_btnWrap {
  margin: 30px 0 0;
}
.popWrap .pop_btnWrap a {
  display: block;
  width: 103px;
  height: 22px;
  padding: 10px;
  background-color: #4380ce;
  font-weight: bold;
  color: #fff;
  line-height: 22px;
  text-align: center;
}
.join_form table input.send_number::placeholder {
  text-align: right;
}
.join_form table input.send_number:-ms-input-placeholder {
  text-align: right;
}
.join_form table input.send_number::-ms-input-placeholder {
  text-align: right;
}
.overlayer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.overlayer.is-open {
  display: block;
}
@media (max-width: 1023px) {
  .wrap {
    margin: 30px auto;
  }
  .wrap,
  .wrap.wd668.line {
    max-width: 80vw;
  }
  .wrap.wd668 {
    width: 90vw;
  }
  .join_form {
    max-width: 90vw;
  }
  .join_form table th span {
    font-size: 13px;
    text-indent: 0;
  }
  .join_form table {
    width: 100%;
  }
  .join_form table input {
    width: 100%;
    height: 37px;
    padding: 10px;
    border: 1px solid #ececec;
    font-size: 14px;
    color: #4c4c4c;
  }
  .join_form table input.email {
    display: inline-block;
    width: 30%;
  }
  .join_form table input.email2 {
    width: 60%;
  }
  .join_form.idpwFind table input {
    width: 100%;
  }
  .join_form.idpwFind table tr.email input {
    float: left;
  }
  .mar10 {
    float: left;
    margin: 5px 2% 0 2%;
  }
  .join_form.idpwFind table input.email {
    width: 36%;
  }
  .join_form.idpwFind table input.email2 {
    width: 53%;
  }
  .join_form.idpwFind table input.phone {
    width: 30%;
    margin: 0 4% 0 4%;
  }
  .join_form.idpwFind table input.phone2 {
    width: 31%;
  }
  .join_form table input.send_number {
    width: 53%;
  }
  .exTxt {
    margin: 0 0 25px 0px;
  }
  .wrap.wd668.line .sub_tit_txt,
  .wrap .sub_tit_txt {
    margin: 0 0 10px 0;
  }
  .btn_wrap a,
  .btn_wrap a.wide {
    width: auto;
    margin: 0;
  }
  .btn_wrap {
    overflow: hidden;
  }
  .join_form.idpwFind table td select {
    float: left;
    width: 30%;
    height: 37px;
  }
  .join_form.idpwFind table tr.email input:after,
  .mar10:after,
  .join_form.idpwFind table td select:after {
    display: block;
    clear: both;
    content: '';
  }
  .popWrap {
    right: auto;
    left: 50%;
    max-width: 80vw;
    margin: 30px auto 0;
    transform: translateX(-50%);
  }
  .join_form table td a.btn_confirm {
    width: 100px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
  }
  .join_form table input.send_number + a {
    margin: 0 0 0 5px;
  }
}
