@import url(fp-viewing.css);
@import url(header.css);
@import url(section1.css);
@import url(section2.css);
@import url(section3.css);
@import url(section4_swiper.css);
@import url(section4.css);
@import url(section5.css);
@import url(footer.css);

section{
  width: 100%;
  height: 100vh;
}

.w1200{
  width: 1200px;
  margin: 0 auto;
}

.pointC{
  color: #4DB6AC;
}

.en{
  font-family: 'Roboto', sans-serif;
}
.ko{
  font-family: 'Noto Sans KR', sans-serif;
}

ol,
ul,
dl,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul a {
  text-decoration: none;
}





@media(max-width:1280px){
  header{
    padding: 0 20px;
    box-sizing: border-box;
  }

  .w1200{
    width: 100%;
  }
}




