/* 섹션4 */
.section4 {
  display: flex;
  width: 100%;
  align-items: center;
}

.section4__wrap {
  width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.section4__wrap a {
  text-decoration: none;
}
/*타이틀*/
.section4__title {
  width: 100%;
  text-align: center;
}

.section4__title strong {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.section4__titl > h5 {
  margin: 50px 0 50px 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}
/*타이틀*/

/*뉴스박스*/
.NEWS_box {
  overflow: hidden;
  width: 550px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NEWS_box > a {
  display: flex;
  width: 100%;
  height: 340px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f7f8;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  transition: all 1s;
}

.NEWS_box > a > h1 {
  overflow: hidden;
  width: 100%;
  color: #333;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.NEWS_box > a > .newsBox--img {
  width: 300px;
  height: auto;
}
.NEWS_box > a > .newsBox--img > img {
  display: block;
  width: 100%;
  height: auto;
}

.NEWS_box > a > h6 {
  margin: 10px 0;
  color: #888888;
  font-size: 15px;
}
/*뉴스박스*/

/* 더보기 */

.section4__more > a {
  display: flex;
  width: 155px;
  height: 48px;
  margin: 30px auto;
  border: 1px solid #4db6ac;
  color: #4db6ac;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.section4__more > a > span {
  margin-left: 10px;
}
.section4__more > a > span > img {
  display: block;
}
.section4__more > a > p {
  text-decoration: none !important;
}

@media (max-width: 1440px) {
  .section4__wrap {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .NEWS_box h1 {
    font-size: 16px;
  }
  .NEWS_box h6 {
    font-size: 13px;
  }
  .NEWS_box > a > .newsBox--img {
    width: 300px;
  }
  .NEWS_box {
    width: 450px;
  }
}
